.friends-panel {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--panel-bg);
  border-radius: var(--panel-border-radius);
  padding: 2.75rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-sizing: border-box;
  max-height: 100%;
}

.friends-panel h2 {
  margin: 1%;
  font-size: 1.4rem;
  text-align: left;
}

.friends-panel .myProfile {
  margin-bottom: 1rem;
}

.friends-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  align-items: flex-start;
}

.friends-list li {
  margin: 0;
}

.spacer {
  height: 1%;
}