.session-list-container {
    max-width: 650px;
    margin: 300 auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.session-list-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
}

.card {
    background: #4f46e5;
    border: 1px; solid: #ddd;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.card h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.button {
    background: #f97316;
    color: #fff;

}
