#panelContainer {
  display: flex;
  justify-content: center;   
  gap: 40px;                 
  padding: 40px;
  width: 100%;
  max-width: 1200px;         
  margin: 0 auto; 
  }
  
  @media (max-width: 900px) {
    #panelContainer {
      flex-direction: column;
    }
  }