#panelContainer {
  overflow-y: scroll;
  scrollbar-width: none; 
  display: flex;
  gap: 1.5rem;
  width: 100%;
  min-height: calc(100vh - 4rem);
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding: clamp(0.5rem, 1vh, 6vh) clamp(0.5rem, 4vw, 12vw);
  box-sizing: border-box;
}
